<div class="contact__section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="about__title">Follow us</h3>
        <p class="about__text">
          Email :
          <a href="mailto:anptph27230@fpt.edu.vn">anptph27230@fpt.edu.vn</a>
        </p>
        <p class="about__text">
          Facebook :
          <a href="https://www.facebook.com/Ann.col.td/">Pham Thanh An</a>
        </p>
        <p class="about__text">
          Instagram :
          <a
            href="https://www.instagram.com/_hiant_/?fbclid=IwAR3dYan1rXVjxZcFE3DYW68wBE4m8c4REaYiOC9g0r5Kai9ljcq5_ieUDpg"
            >_hiant_</a
          >
        </p>
        <p class="about__text">
          Tel :
          <a href="tel:+84389718892">0389718892</a>
        </p>

        <p class="about__text">
          For more information, please visit the Inditex Group website:
          <a href="http://www.inditex.com"> www.inditex.com</a>
        </p>
      </div>
      <div class="col-lg-6">
        <form action="" class="login__input">
          <input
            type="email"
            id="em"
            placeholder="Enter Your Email"
            required
            ng-model="email"
          />
          <input
            type="text"
            required
            placeholder="Write something"
            ng-model="password"
          />
          <button class="login__btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
